.main-container {
  margin: 0 10px;
}

.sub-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 5px 0px 0px 0px;
}

.center {
  text-align: center;
}


/* HEADER STYLES */
.navbar {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0px;
  padding-right: 0px;
}

logo-container {
  width: 50%;
}

.app-logo {
  margin-left: 0px !important;
  margin-top: 3px;
}

.search-container {
  width: 50%;
}

.search-bar {
  border: 2px solid #86ddf8;
  border-radius: 3px;
}
